@keyframes squares-home-content1 {
    0% { transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

@keyframes squares-home-content1-v2 {
    0% { transform: scale(1);
        transform: rotate(10deg);
        border-radius: 100%;
    }
    10% {
        transform: scale(1.2);
        transform: rotate(20deg);
        border-radius: 50%;
    }
    20% {
        transform: scale(1.3);
        transform: rotate(30deg);
        border-radius: 50px 150px 50px 50px;
    }
    30% {
        transform: scale(1.4);
        transform: rotate(40deg);
        border-radius: 50px 50px 150px 50px;
    }
    40% {
        transform: scale(1.5);
        transform: rotate(50deg);
        border-radius: 50px 50px 50px 150px;
    }
    50% {
        transform: scale(1.6);
        transform: rotate(60deg);
        border-radius: 150px 50px 50px 50px;
    }
    60% {
        transform: scale(1.5);
        transform: rotate(50deg);
        border-radius: 50px 150px 50px 50px;
    }
    70% {
        transform: scale(1.4);
        transform: rotate(40deg);
        border-radius: 50px 50px 150px 50px;
    }
    80% {
        transform: scale(1.3);
        transform: rotate(30deg);
        border-radius: 70%;
    }
    90% {
        transform: scale(1.2);
        transform: rotate(20deg);
        border-radius: 100px 50px 50px 50px;
    }
    100% {transform: scale(1);
        transform: rotate(10deg);
        border-radius: 100%;
    }
}

@-webkit-keyframes glow {
    0% {
      filter: drop-shadow(0 0 10px #ffd4d4) 
              drop-shadow(0 0 15px #ffd4ea) 
              drop-shadow(0 0 20px #f8a2cd) 
              drop-shadow(0 0 25px #fd67b2);
    }
    100% {
      filter: drop-shadow(0 0 20px #ffdcdc) 
              drop-shadow(0 0 25px #ff4da6) 
              drop-shadow(0 0 30px #ff4da6) 
              drop-shadow(0 0 35px #ff4da6);
    }
  }
  